@font-face {
    font-family: "Roboto";
    src:url(CSS/font/font-family/Roboto/Roboto-Regular.ttf) format('truetype');
    
    
}


/*Viste hvordan jeg la inn font https://www.youtube.com/watch?v=AAU25Fo4bFY&t=200s*/    


* {
    
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header, main, footer {
    padding: 0;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    max-width: 1600px;
    margin: auto;
}



/*-----Header----------*/
body {
    font-family: 'Roboto', sans-serif;

}

header {
    font-size: 1.2rem;
    font-weight: 400;
    grid-area: header;
    margin-bottom: 40px;
    grid-area: header;
    display: grid;

}

main {
    grid-area: main;
    display: grid;
}

footer {
    grid-area: footer;
    display: grid;
}

.desktop-navbar img {
    width: 120px;
    height: auto;
}

.navbar {
    text-align: right;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    margin-top: 80px;
    margin-right: 20px;
    
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    display: inline-block;
    font-size: 25px;

}

.navbar-side-bold {
    font-weight: 800;
    border-bottom: 2px solid #e6bd43;
}

.mobile-navbar {
    display: block;
    
}

.logo-holder {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
}

.logo-desktop-meny {
    margin-left: 20px;
    margin-top: 30px;
}

.mobile-navbar img {
    width: 130px;
    height: auto;
   
}

.navbar-mobile {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0;
    
}

.navbar-mobile li {
    margin: 0;
    padding-bottom: 20px;
}

.black-btn-holder {
    text-align: center;
}

.black-btn-holder li {
    margin: 0;
}

.navbar-mobile a {
    text-decoration: none;
    color: black;
}


nav {
    list-style-type: none;
}


header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header li {
    
    margin-right: 10px;
}

.black-btn {
    background-color: #e6bd43;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;

}

.black-btn:hover {
    background-color: black;
    color: #e6bd43;
}

.black-btn-mobile {
    background-color: #e6bd43;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;

}

.black-btn-mobile:hover {
    background-color: black;
    color: #e6bd43;
}

.black-btn-holder {
    margin-top: 20px;
}

/*-----HeaderEND---------*/

/*-------Main INDEX------*/


/*---Mobile INDEX------*/
    .mobile-banner-holder {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin-bottom: 100px;
        
    }


    .mobile-banner-holder img {
        width: 100%;
        height: 600px;
        display: block;
        object-fit: cover; 
    }

    .overlay-text-mobil {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        text-align: center;
    }

    .overlay-text-mobil p {
        font-size: 20px;
        width: 65%;
    }

    .overlay-text-mobil h2 {
        font-size: 40px;
    }

/*------Mobile INDEX SLUTT------*/

.yellow-btn-outline {
    background-color: #e6bd43;
    outline-style: solid;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;
}

.yellow-btn-outline:hover {
    background-color: black;
    outline-style: solid;
    outline-color: black;
    color: #e6bd43;
}

.video-holder {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.video-holder video {
    width: 100%;
    height: 600px;
    display: block;
    object-fit: cover; 
    
}

.ovelay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.616);
    font-size: 30px;
    text-align: center;
}

.ovelay-video h1 {
    font-weight: 800;
}

.ovelay-video p {
    margin-bottom: 25px;
}

.subheading {
    display: block;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 50px;
}

.subheading h2 {
    font-size: 55px;
    margin-bottom: 40px;
    width: 55%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}
.subheading p {
    font-size: 24px;
    max-width: 68%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.ourCompany {
    background-color: #e6bd43;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


.ourCompany img {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    height: 50%;
    float: left;
}

.ourCompany-text li {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 50px;
}

.ourCompany-button {
    margin-top: 60px;
    font-size: 25px;
}

.ourCompany h3 {
    font-size: 30px;
    font-weight: 800;
}
.ourCompany p {
    font-size: 25px;
    max-width: 70%;
}


.indexServices {
    text-align: center;
    font-size: 25px;
    padding-bottom: 70px;
}



.indexServices h2 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.indexServices h3 {
    margin-top: 30px;
    padding-bottom: 0px;
}

.indexServices li{
    display: inline-block;
    text-align: center;
    margin: 1rem;
}

.indexServices li p {
    padding-top: 0px;
    max-width: 350px;
    font-size: 25px;
}


.newsletter {
    text-align: center;
    background-color: #e6e6e6;
    padding-bottom: 70px;
    padding-top: 100px;
}

.newsletter h2 {
    font-size: 60px;
}

.newsletter label {
    display: block;
    margin-bottom: 8px;
    font-size: 0px;
}

.mail-sign {
    padding-top: 0px;
}

.mail-sign a {
    font-size: 20px;
}

.newsletter input {
    padding: 21px;
    border: 0px;
    padding-right: 60px;
    font-size: 20px;
}



/*-------Main INDEX SLUTT------*/


/*------ABOUT---------*/

.desktop-banner-about img {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
    object-fit: cover;
    margin: auto;
    
}

.desktop-banner-about-text {
    position: absolute;
    top: 245px;
    left: 50%;
    width: 700px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    
}

.desktop-banner-about-text h1 {
    text-align: left;
    font-size: 28px;
    font-weight: 800;
}

.desktop-banner-about-text p {
    max-width: 90%;
    font-size: 23px;
}

.black-btn-holder-about {
    padding-top: 25px;

}


.someclients {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    text-align: center;
    align-items: center;
}

.someclients li {
    margin: 0;
    padding: 0;
    display: inline-block;
    
}

.someclients img {
    width: 200px;
    max-width: 200px;
    height: auto;
    padding: 3rem;
}


.someclients h2 {
    font-size: 50px;
    font-weight: 800;
    padding-top: 60px;
}

.holder-message {
    background-color: #e6e6e6;
    padding: 1rem;
}

.holder-message h2 {
    padding-bottom: 50px;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding-top: 100px;
}

.holder-message h3 {
    font-size: 28px;
    font-weight: 800;
}

.holder-box {
    display: flex;
}

.contact-venstre {
    flex-basis: 60%;
    margin: 40px 60px;
    background-color: #e6e6e6;
}

.contact-høyere {
    flex-basis: 60%;
    padding: 40px;
    background: #e6e6e6;
}


.contact-høyere li {
    padding-bottom: 25px;
    font-size: 20px;

}


.contact-høyere i {
    padding-right: 20px;
    font-size: 30px;
}


.contact-høyere p {
    margin: 0;
    font-size: 25px;
}

.contact-høyere a li {
    text-decoration: underline;
}

.input-row {
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row a {
    font-size: 20px;
}


.input-row .input-group {
    flex-basis: 45%;
}


.input-group input {
    width: 100%;
    border-style: none;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}



.input-group label {
    font-size: 25px;
}


.input-message {
    margin-bottom: 30px;
}

.input-message label {
    font-size: 25px;
}

.input-message textarea{
    width: 100%;
    border-style: none;
    padding-right: 30px;
    padding-bottom: 180px;
    margin-top: 10px;
}

.google-maps {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
}

.mobile-banner-about {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
}

.mobile-banner-about img  {
    position: relative;
    max-width: 100%;
    height: 950px;
    overflow: hidden;
    margin-bottom: 100px;
    object-fit: cover;
    margin: auto;
}

.mobile-banner-about-text {
    position: absolute;
    top: 480px;
    left: 50%;
    width: 272px;
    height: 790px;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    transform: translate(-50%, -50%);
}

.mobile-banner-about-text p {
    width: 74%;
}

.mobile-banner-about-text h1 {
    font-size: 23px;
    width: 70%;
}

.indexServices-about {
    padding-top: 50px;
    display: grid;
    text-align: center;
} 

.indexServices-about h2 {
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.indexServices-about h3 {
    margin-top: 30px;
    padding-bottom: 0px;
    font-size: 28px;
}

.indexServices-about li{
    display: inline-block;
    text-align: center;
    margin: 1rem;
    font-size: 22px;
}

.indexServices-about li p {
    padding-top: 0px;
    max-width: 350px;
    font-size: 23px;
}





/*------ABOUT SLUTT-------*/

.products-banner-desk {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;

}

.products-banner-desk img {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
    object-fit: cover;
    margin: auto;
}



.products-banner-desk-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.616);
    font-size: 30px;
    text-align: center;
}

/*-------PRODUCTS---------*/


    .explore-jobs {
        padding: 0 80px;
    }

    .explore-jobs h2 {
        text-align: left;
        border-bottom: 4px solid #e6bd43;
        padding-bottom: 20px;
        font-size: 45px;
        
    }

    .explore-jobs  ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 3px;
    }

    .explore-jobs li {
        margin-right: 20px;
        display: inline-block;
        padding-top: 40px;
        
    }


    .branding-desk h2 {
        text-align: left;
        border-bottom: 4px solid #e6bd43;
        padding-bottom: 20px;
        font-size: 45px;
    }


    .branding-desk {
        padding: 0 80px;
    }



    .branding-desk li {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .branding-desk article {
        flex: 1 1 300px;
        margin: 30px 15px;
        font-size: 20px;
        font-weight: 600;
        flex-grow: 1;
        transition: transform 0.5s ease-in-out;
        
    }

    .branding-desk article img {
        width: 100%;
        height: auto;      
    }

    .branding-desk article:hover {
        transform: scale(1.1);
        flex-grow: 1.1;
    }

    .større-bilde img {
        width: 700px;
        height: auto;
        transition: transform 0.5s ease-in-out;

    }

    .big-ikke-vis {
        flex: 1 1 300px;
        margin: 30px 15px;
        font-size: 20px;
        font-weight: 600;
        flex-grow: 1;
        transition: transform 0.5s ease-in-out;
    }

    .big-ikke-vis:hover {
        transform: scale(1.1);
        flex-grow: 1.1;
    }

    .design-desk {
        padding: 0 80px;
    }

    .design-desk h2 {
        text-align: left;
        border-bottom: 4px solid #e6bd43;
        padding-bottom: 20px;
        font-size: 45px;
    }

    .design-desk  li{
        display: flex;
        flex-wrap: wrap;

    }

    .design-desk article {
        position: relative;
        flex: 1 1 300px;
        margin: 0 15px;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        flex-grow: 1;
        transition: transform 0.5s ease-in-out;
        
    }

    .design-desk article:hover {
        flex-grow: 1.5;
        transform: scale(1.1);
    }

    .design-desk article img {
        width: 100%;
        height: auto;
    }

    .større-bilde {
        width: 600px;
        height: auto;
    }


    .development-desk {
        padding: 0 80px;
    }

    .development-desk h2 {
        text-align: left;
        border-bottom: 4px solid #e6bd43;
        padding-bottom: 20px;
        font-size: 45px;
    }

    .development-desk  li{
        display: flex;
        flex-wrap: wrap;

    }

    .development-desk article {
        position: relative;
        flex: 1 1 300px;
        margin: 20px 25px;
        text-align: left;
        font-size: 20px;
        font-weight: 600;
        flex-grow: 1;
        transition: transform 0.5s ease-in-out;
        
    }

    .development-desk article:hover {
        flex-grow: 1.2;
        transform: scale(1.1);
    }
    

    .development-desk li img {
        width: 100%;
        height: auto;
    }

    
    

    

    .hvit-btn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        font-weight: 500;
        text-decoration: none;
        outline-style: solid;
        outline-width: 1px;
        font-size: 20px;

    }
    
    .hvit-btn:hover {
        background-color: black;
        color: #e6bd43;
    }

/*-------PRODUCTS SLUTT--------*/


/*-----Back To Top Button-----*/
.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 20px;
    height: 35px;
    
}
/*-----Back To Top Button STOP----*/




/*-----Footer-------*/

.footer-innhold {
    background-color: #252525;
}

.footer-innhold img {
    margin-top: 40px;
    width: 90px;
    height: auto;
}

.footer-innhold p {
    text-align: center;
    color: #fff;
}

.social-icon {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 60px;
    
    
}

.social-icon li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;

}





.footer-innhold-desktop {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-innhold-desktop a {
    margin-right: 10px;
}

.footer-innhold-desktop img {
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.footer-innhold-desktop p {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.footer-social {
    display: flex;
    font-size: 20px;
    margin-right: 10px;
}

.fab, .fa-brands {
    padding: 15px;
}

.footer-innhold li {
    margin-right: 20px;
    
}


.footer-innhold ul {
    margin: 0;
}




/*-----FooterEND------*/



@media only screen and (min-width: 600px) {


    /*Syntess bare på mobil*/

    #grid-container {
        display: grid;
        grid-template-areas: "header header header" "main main main" "footer footer footer";

        }


    .mobile-navbar {
        display: none;
    }

    .footer-innhold {
        display: none;
    }

    .mobile-banner-holder {
        display: none;
    }

    .mobile-banner-about {
        display: none;
    }

    .google-maps-mob {
        display: none;
    }

    .small-ikke-vis {
        display: none;
    }
   
    


}
    





@media only screen and (max-width: 900px) {
    /*Syntess bare på desktop*/
    
    /*-------PRODUKT----------*/

    .branding-desk article:hover {
        flex-grow: 0;
        transform: scale(1);
    }

    .mail-sign a {
        font-size: 15px;
        padding-top: 14px;
        padding-bottom: 15px;
    }


    .design-desk article:hover {
        flex-grow: 0;
        transform: scale(1);
    }

    .development-desk article:hover {
        flex-grow: 0;
        transform: scale(1);
    }

    .big-ikke-vis:hover {
        transform: scale(1);
        flex-grow: 0;
    }

    .black-btn-mobile:hover {
        background-color: #e6bd43;
        color: black;
    }

    .black-btn:hover {
        background-color: #e6bd43;
        color: black;
    }

    .yellow-btn-outline:hover {
        background-color: #e6bd43;
        color: black;
    }
    

    .products-banner-desk {
        margin: 0 auto;
        height: 350px;
    }

    .explore-jobs h2 {
        font-size: 25px;
        text-align: left;
        padding-top: 15px;
    }

    .branding-desk h2 {
        font-size: 25px;
        text-align: left;
        padding-top: 15px;
    }

    .design-desk h2 {
        font-size: 25px;
        text-align: left;
        padding-top: 15px;
    }

    .development-desk h2 {
        font-size: 25px;
        text-align: left;
        padding-top: 15px;
    }
    
    .explore-jobs {
        padding: 0 40px;
    }

    .branding-desk {
        padding: 0 40px;

    }

    .design-desk {
        padding: 0 40px;
    }

    .development-desk {
        padding: 0 40px;
    }

    .større-bilde {
        width: 100%;
    }
    



    .products-banner-desk-text h1 {
        font-size: 30px;
    }


    /*---------PRODUKT STOP---------*/
    


    /*-----HEADER-------*/

    .desktop-navbar {
        display: none;
    }

    .desktop-video-holder {
        display: none;
    }
    /*------HEADER SLUTT*/


    

    /*-----Back To Top Button-----*/
    .back-to-top {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        border-radius: 0.5rem;
        padding: 1.5rem;
        width: 20px;
        height: 35px;
        
    }
/*-----Back To Top Button STOP----*/

    

    /*---------INDEX MAIN----------*/

    .desktop-video-holder {
        display: none;
    }


    .ourCompany {
        display: ;
    }

    .footer-innhold-desktop {
        display: none;
    }




    .subheading h2 {
        font-size: 25px;
        font-weight: 800;
        width: 80%;
        justify-content: center;
        justify-self: center
        
    }

    .subheading p {
        font-size: 22px;
        text-align: center;
    }

    .ourCompany {
        background-color: #e6bd43;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        

    }

    .ourCompany img{
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .ourCompany li {
        text-align: center;
        margin-left: auto;
    }

    .ourCompany h3 {
        font-size: 25px;
        width: 70%;
        margin: auto;
        text-align: left;
    }

    .ourCompany-text ul {
        text-align: center;
    }

    .ourCompany p {
        text-align: left;
        margin: auto;
    }

    .indexServices {
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    
    
    .indexServices h2 {
        font-size: 30px;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .indexServices h3 {
        font-size: 25px;
        font-weight: 800;
        margin-top: 30px;
        padding-bottom: 0px;
    }
    
    .indexServices li{
        display: inline-block;
        text-align: center;
        margin: 1rem;
    }
    
    .indexServices li p {
        padding-top: 0px;
        max-width: 350px;
        font-size: 20px;
    }

    


    .newsletter {
        text-align: center;
        background-color: #e6e6e6;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    
    .newsletter h2 {
        font-size: 25px;
    }
    
    .newsletter label {
        display: block;
        margin-bottom: 8px;
        font-size: 0px;
    }
    
    .mail-sign {
        padding-top: 0px;
    }
    
    
    .newsletter input {
        padding: 15px;
        border: 0px;
        padding-right: 0px;
        font-size: 15px;
    }

    .black-btn {
        background-color: #e6bd43;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        font-weight: 800;
        text-decoration: none;
        font-size: 15px;
    
    }

    
    
    

    /*---------INDEX MAIN SLUTT--------*/

    /*----ABOUT START-----*/
    .desktop-banner-about {
        display: none;
    }
    


    .black-btn-holder-about-mob  {
        font-size: 20px;
        padding-top: 10px;
    }

    .indexServices-about {
        padding-top: 205px;
        display: grid;
        text-align: center;
    } 
    
    .indexServices-about h2 {
        font-size: 25px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    .indexServices-about h3 {
        margin-top: 30px;
        padding-bottom: 0px;
    }
    
    .indexServices-about li{
        display: inline-block;
        text-align: center;
        margin: 1rem;
    }
    
    .indexServices-about li p {
        padding-top: 0px;
        max-width: 350px;
        font-size: 20px;
    }


    .someclients {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .someclients h2 {
        font-size: 25px;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .someclients img {
        max-width: 40%;
        height: auto;
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
    /*Denne koden fikk jeg fra ChatGPT*/
    .someclients img:nth-child(1),
    .someclients img:nth-child(3) {
    order: 0;
}

    .holder-box {
        display: block;
    }

    .contact-venstre {
        margin: 0;
    }

    .holder-message {
        padding-left: 30px;
    }

    .input-group input {
        padding-top: 15px;
        padding-bottom: 12px;
        padding-right: 0;
        overflow-x: hidden;
        width: 90%;
        font-size: 15px;
    }

    .input-group label {
        font-size: 17px;
        font-weight: 400;
    }

    .input-message textarea {
        padding-right: 0;
        padding-bottom: 140px;
        width: 96%;
    }

    .contact-høyere {
        padding: 0;
        padding-top: 50px;
    }

    .contact-høyere p {
        font-size: 18px;
    }



    .google-maps {
        display: none;
    }

    .google-maps-mob {
        height: 250px;
    }

    .holder-message h3 {
        font-size: 20px;
    }

    .holder-message h2 {
        font-size: 23px;
    }


    

    /*----ABOUT SLUTT-------*/

    /*----FOOTER------*/

    .footer-innhold li {
        margin: 0;
        padding: 0;
    }
    /*-----FOOTER SLUTT------*/

    }


@media only screen and (min-width: 1600px) {
       /*-----Back To Top Button (Bare til button)-----*/
       .back-to-top {
        position: fixed;
        bottom: 1.5rem;
        right: calc((100% - 1600px) / 2 + 1.5rem);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        border-radius: 0.5rem;
        padding: 1.5rem;
        width: 20px;
        height: 35px;
        max-width: 1600px;
    }
/*-----Back To Top Button STOP----*/


}

@media only screen and (max-width: 1150px) {
    .større-bilde {
        width: 100%;
        height: auto;
    }


}