@font-face {
    font-family: Roboto;
    src:url(CSS/font/font-family/Roboto/Roboto-Regular.ttf) format('truetype');
    
}

/*Viste hvordan jeg la inn font https://www.youtube.com/watch?v=AAU25Fo4bFY&t=200s*/    


* {
    
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header, main, footer {
    padding: 0;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    max-width: 1600px;
    margin: auto;
}


/*-----Header----------*/
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

header {
    font-size: 1.2rem;
    font-weight: 400;
    grid-area: header;
    margin-bottom: 40px;

}

.desktop-navbar img {
    width: 120px;
    height: auto;
}

.navbar {
    text-align: right;
    list-style: none;
    padding: 0;
    margin-top: 50px;
    text-decoration: none;
    color: black;
    margin-top: 80px;
    margin-right: 20px;
    
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    display: inline-block;
    font-size: 25px;

}

.navbar-side-bold {
    font-weight: 800;
    border-bottom: 2px solid #e6bd43;
}

.mobile-navbar {
    display: block;
    
}

.logo-holder {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
}

.logo-desktop-meny {
    margin-left: 20px;
    margin-top: 30px;
}

.mobile-navbar img {
    width: 130px;
    height: auto;
   
}

.navbar-mobile {
    list-style: none;
    text-align: center;
    display: block;
    padding: 0;
    
}

.navbar-mobile li {
    margin: 0;
    padding-bottom: 20px;
}

.black-btn-holder {
    text-align: center;
}

.black-btn-holder li {
    margin: 0;
}

.navbar-mobile a {
    text-decoration: none;
    color: black;
}


nav {
    list-style-type: none;
}


header nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}

header li {
    
    margin-right: 10px;
}

#black-btn {
    background-color: #e6bd43;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;

}

#black-btn:hover {
    background-color: black;
    color: #e6bd43;
}

#black-btn-mobile {
    background-color: #e6bd43;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;

}

#black-btn-mobile:hover {
    background-color: black;
    color: #e6bd43;
}

.black-btn-holder {
    margin-top: 20px;
}

/*-----HeaderEND---------*/

/*-------Main INDEX------*/


/*---Mobile INDEX------*/
    .mobile-banner-holder {
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin-bottom: 100px;
        
    }


    .mobile-banner-holder img {
        width: 100%;
        height: 600px;
        display: block;
        object-fit: cover; 
    }

    .overlay-text-mobil {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: 20px;
        text-align: center;
    }

    .overlay-text-mobil p {
        font-size: 20px;
        width: 65%;
    }

/*------Mobile INDEX SLUTT------*/

#yellow-btn-outline {
    background-color: #e6bd43;
    outline-style: solid;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-weight: 800;
    text-decoration: none;
}

#yellow-btn-outline:hover {
    background-color: black;
    outline-style: solid;
    outline-color: black;
    color: #e6bd43;
}

.video-holder {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.video-holder video {
    width: 100%;
    height: 600px;
    display: block;
    object-fit: cover; 
    
}

.ovelay-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.616);
    font-size: 30px;
    text-align: center;
}

.ovelay-video h1 {
    font-weight: 800;
}

.ovelay-video p {
    margin-bottom: 25px;
}

.subheading {
    display: block;
    padding-top: 0px;
    text-align: center;
    margin-bottom: 50px;
}

.subheading h2 {
    font-size: 55px;
    margin-bottom: 40px;
    width: 55%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}
.subheading p {
    font-size: 24px;
    max-width: 68%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.ourCompany {
    background-color: #e6bd43;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
}


.ourCompany img {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
    height: 50%;
    float: left;
}

.ourCompany-text li {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 50px;
}

.ourCompany-button {
    margin-top: 60px;
    font-size: 25px;
}

.ourCompany h3 {
    font-size: 30px;
    font-weight: 800;
}
.ourCompany p {
    font-size: 25px;
    max-width: 70%;
}


.indexServices {
    text-align: center;
    font-size: 25px;
    padding-bottom: 70px;
}



.indexServices h2 {
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.indexServices h3 {
    margin-top: 30px;
    padding-bottom: 0px;
}

.indexServices li{
    display: inline-block;
    text-align: center;
    margin: 1rem;
}

.indexServices li p {
    padding-top: 0px;
    max-width: 350px;
    font-size: 25px;
}


.newsletter {
    text-align: center;
    background-color: #e6e6e6;
    padding-bottom: 70px;
    padding-top: 100px;
}

.newsletter h2 {
    font-size: 60px;
}

.newsletter label {
    display: block;
    margin-bottom: 8px;
    font-size: 0px;
}

.mail-sign {
    padding-top: 0px;
}

.mail-sign a {
    font-size: 20px;
}

.newsletter input {
    padding: 21px;
    border: 0px;
    padding-right: 60px;
    font-size: 20px;
}



/*-------Main INDEX SLUTT------*/


/*------ABOUT---------*/

.desktop-banner-about img {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 100px;
    object-fit: cover;
    margin: auto;
    
}

.desktop-banner-about-text {
    position: absolute;
    top: 245px;
    left: 50%;
    width: 700px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    
}

.desktop-banner-about-text h1 {
    text-align: left;
    font-size: 28px;
    font-weight: 800;
}

.desktop-banner-about-text p {
    max-width: 90%;
    font-size: 23px;
}

.black-btn-holder-about {
    padding-top: 25px;

}


.someclients {
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    text-align: center;
    align-items: center;
}

.someclients li {
    margin: 0;
    padding: 0;
    display: inline-block;
    
}

.someclients img {
    width: 200px;
    max-width: 200px;
    height: auto;
    padding: 3rem;
}


.someclients h2 {
    font-size: 50px;
    font-weight: 800;
    padding-top: 100px;
}



/*------ABOUT SLUTT-------*/


/*-----Back To Top Button-----*/
.back-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 20px;
    height: 35px;
    
}
/*-----Back To Top Button STOP----*/




/*-----Footer-------*/

.footer-innhold {
    background-color: #252525;
}

.footer-innhold img {
    margin-top: 40px;
    width: 90px;
    height: auto;
}

.footer-innhold p {
    text-align: center;
    color: #fff;
}

.social-icon {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
    
    
}

.social-icon li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;

}





.footer-innhold-desktop {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-innhold-desktop a {
    margin-right: 10px;
}

.footer-innhold-desktop img {
    padding-top: 70px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.footer-innhold-desktop p {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.footer-social {
    display: flex;
    font-size: 20px;
    margin-right: 10px;
}

.fab, .fa-brands {
    padding: 15px;
}

.footer-innhold li {
    margin-right: 20px;
    
}


.footer-innhold ul {
    margin: 0;
}




/*-----FooterEND------*/



@media only screen and (min-width: 600px) {
/*Syntess bare på mobil*/


    .mobile-navbar {
        display: none;
    }

    .footer-innhold {
        display: none;
    }

    .mobile-banner-holder {
        display: none;
    }



    


}


@media only screen and (max-width: 600px) {
    /*Syntess bare på desktop*/


    /*-----INDEX HEADER-------*/

    .desktop-navbar {
        display: none;
    }

    .desktop-video-holder {
        display: none;
    }
    /*------INDEX HEADER SLUTT*/

    /*-----Back To Top Button-----*/
    .back-to-top {
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        border-radius: 0.5rem;
        padding: 1.5rem;
        width: 20px;
        height: 35px;
        
    }
/*-----Back To Top Button STOP----*/



    /*---------INDEX MAIN----------*/

    .desktop-video-holder {
        display: none;
    }


    .ourCompany {
        display: ;
    }

    .footer-innhold-desktop {
        display: none;
    }




    .subheading h2 {
        font-size: 25px;
        font-weight: 800;
        width: 80%;
        justify-content: center;
        justify-self: center
        
    }

    .subheading p {
        font-size: 22px;
        text-align: center;
    }

    .ourCompany {
        background-color: #e6bd43;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        

    }

    .ourCompany img{
        margin-bottom: 40px;
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .ourCompany li {
        text-align: center;
        margin-left: auto;
    }

    .ourCompany h3 {
        font-size: 25px;
        width: 70%;
        margin: auto;
        text-align: left;
    }

    .ourCompany-text ul {
        text-align: center;
    }

    .ourCompany p {
        text-align: left;
        margin: auto;
    }

    .indexServices {
        text-align: center;
        font-size: 20px;
        padding-bottom: 20px;
    }
    
    
    
    .indexServices h2 {
        font-size: 30px;
        font-weight: 800;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .indexServices h3 {
        font-size: 25px;
        font-weight: 800;
        margin-top: 30px;
        padding-bottom: 0px;
    }
    
    .indexServices li{
        display: inline-block;
        text-align: center;
        margin: 1rem;
    }
    
    .indexServices li p {
        padding-top: 0px;
        max-width: 350px;
        font-size: 20px;
    }


    .newsletter {
        text-align: center;
        background-color: #e6e6e6;
        padding-bottom: 70px;
        padding-top: 50px;
    }
    
    .newsletter h2 {
        font-size: 25px;
    }
    
    .newsletter label {
        display: block;
        margin-bottom: 8px;
        font-size: 0px;
    }
    
    .mail-sign {
        padding-top: 0px;
    }
    
    .mail-sign a {
        font-size: 20px;
    }
    
    .newsletter input {
        padding: 15px;
        border: 0px;
        padding-right: 0px;
        font-size: 15px;
    }

    #black-btn {
        background-color: #e6bd43;
        color: rgb(0, 0, 0);
        padding: 14px 20px;
        font-weight: 800;
        text-decoration: none;
        font-size: 15px;
    
    }
    
    #black-btn:hover {
        background-color: black;
        color: #e6bd43;
    }
    

    /*---------INDEX MAIN SLUTT--------*/


}


@media only screen and (min-width: 1600px) {
       /*-----Back To Top Button (Bare til button)-----*/
       .back-to-top {
        position: fixed;
        bottom: 1.5rem;
        right: calc((100% - 1600px) / 2 + 1.5rem);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #252525;
        border-radius: 0.5rem;
        padding: 1.5rem;
        width: 20px;
        height: 35px;
        max-width: 1600px;
    }
/*-----Back To Top Button STOP----*/


}